<?xml version="1.0" encoding="utf-8"?>
<RevitAddIns>
  <AddIn Type="Application">
    <Name>JTOOLS</Name>
    <Assembly>{ASSEMBLY_PATH}</Assembly>
    <AddInId>{ADDIN_ID_2026}</AddInId>
    <FullClassName>GrdRevit.GrdApplication</FullClassName>
    <VendorId>GrdRevit</VendorId>
    <VendorDescription>Парсер .grd и применение типов приборов СО</VendorDescription>
  </AddIn>
</RevitAddIns>